/*Custom Property*/
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-self-center {
  align-self: center;
}

.br-20 {
  border-radius: 20px;
}

.user-select-none {
  user-select: none;
}

.m-0 {
  margin: 0;
}

#toast-container {
  top: auto !important;
  left: auto !important;
  bottom: 0;
  right: 5%;
}

/*General*/
/*Nav Bar/Logo*/
.logo {
  font-size: 3em;
  text-align: center;
}
.logo a {
  text-shadow: 2px 2px 8px black;
}
/*Footer*/
footer {
  text-align: center;
  z-index: 2;
}
/*Main title for result cards*/
.card-main-title {
  font-size: 1.2em;
  font-weight: bold;
}

/*index.html*/

/*Movie Page*/
.movie-info {
  margin-top: 5vh;
}

#relatedVideoContainer {
  margin: 10px;
}
