/*Custom Property*/

/* element selectors */
/*Footer*/

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

/* class selectors*/

.align-self-center {
  align-self: center;
}

.br-20 {
  border-radius: 20px;
}

/*Main title for result cards*/
.card-main-title {
  font-size: 1.2em;
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

#toast-container {
  top: auto !important;
  left: auto !important;
  bottom: 0;
  right: 5%;
}

/*General*/
/*Nav Bar/Logo*/
.logo {
  font-size: 3em;
  text-align: center;
}

.logo a {
  text-shadow: 2px 2px 8px black;
}

.m-0 {
  margin: 0;
}

/*Movie Page*/
.movie-info {
  margin-top: 5vh;
}

.user-select-none {
  user-select: none;
}

/*id selectors*/

#relatedVideoContainer {
  margin: 10px;
}