.nav-wrapper {
  background-color: rgb(23, 23, 116);
}

#navinfo {
  color: rgb(196, 17, 17);
}

#favouriteBtn {
  color: yellow;
  cursor: pointer;
}

.caption {
  display: block;
}

.search input {
  width: 300px;
  height: 25px;
  border-radius: 25px;
  border: none;
}

.search {
  float: right;
  margin: 7px;
}

#searchButton {
  background-color: rgb(25, 100, 161);
  border-radius: 16px;
  color: #dfe4eb;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.searchBar {
  background: white;
  opacity: 1;
  color: white;
}

.searchResultBox {
  height: 40vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.searchResultBox div {
  flex: 6;
  border-radius: 15px;
  justify-self: center;
  background-color: lightgray;
}

.searchResultBox h6 {
  flex: 1;
}
